.appnavbar-wrapper {
    height: 4rem;
    background-color: #1f282f;
    border: 1px solid black;
    text-align: center;
    position: fixed;
    top:0%;
    width:100%;
    z-index: 100;
}


.appnavbar-wrapper h5 {
    margin-top: 1rem;
}