.home-event-card{
    border: 1px solid black;
    width: 225px;
    height: 250px;
    cursor: pointer;
}

.home-event-card > .r1{
    padding: 5px;
}

.home-event-card > .r2{
   height: 175px;
}

.home-event-card > .r2 > img{
    width: 100%;
    height: 100%;
}

.home-event-card > .r3{
    padding: 5px;
}